*.log
.DS_Store
.env
.env.docker
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
.composer
/frontend-admin/node_modules
/frontend-admin/dist
/frontend-cafe/node_modules
/frontend-cafe/dist
/vendor
/backend/vendor
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
